{
  "extends": ["airbnb-typescript/base", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier"],
  "rules": {
    // "eslint linebreak-style": ["error", "windows"]
  }
}
